/* colors */
:root {
  --primary-color: #997caa;
  --secondary-color: #4a2558;
  --text-color: #333;
  --background-color: #73518e;
  --color: #f5f5f5;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Patrick Hand", cursive;
}

p {
  font-family: "Fredoka", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

/* header */
header {
  /* min-height: 12.5rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 1rem 2rem;
}

.logo {
  width: 200px;
  height: 200px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  font-family: "Patrick Hand", cursive;
  font-size: 1.7rem;
  text-decoration: none;
  color: #4a2558;
}

.link.active {
  text-decoration: underline;
}

/* main */
.Main {
  background-color: #4a2558;
  color: #f5f5f5;
  min-height: 20rem;
  padding: 2rem;
  display: flexbox;
  flex-grow: 1;
}

.catalog {
  margin: 20px 0px;
}

h1 {
  color: #f5f5f5;
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}

/* footer */
footer {
  font-family: "Fredoka", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  /* min-height: 10rem; */
  padding: 20px;
  text-align: center;
}

footer a {
  color: #4a2558;
  text-decoration: none;
}

/*Product card*/
.product {
  border: #997caa 2px dotted;
  background-color: #997caa;
  border-radius: 10px;
  box-shadow: #2d1736 5px 5px 5px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  max-width: 150px;
  color: #2d1736;
  font-family: "Fredoka", sans-serif;
}

.productImg {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #73518e;
}

.productBuy {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.productTitle {
  font-size: 2rem;
  text-align: center;
}

.productPrice {
  font-size: 1.7rem;
}

.productInfo {
  text-align: justify;
}

.product button {
  border: none;
  background-color: #997caa;
}

.material-symbols-outlined {
  background-color: #997caa;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 1px 2px 2px 2px #4a2558;
  border: 1px solid #997caa;
  border-radius: 3px;
  margin: 0px;
}
